.ingredients
  h3 = I18n.t('model_names.ingredients')
  table
    tr
      th = I18n.t('activerecord.attributes.ingredient.product')
      th = I18n.t('activerecord.attributes.ingredient.amount')
    - ingredients.each do |ingredient|
      tr
        td = ingredient.product.name
        td = ingredient.amount
