a.recipe_card href=recipe_path(recipe.slug)
  .left
    .triangle
    .image style="background-image: url(#{asset_url(recipe.cover.card.url)})"
  .right
    p.title = recipe.name
    .tags
      .category.button href=category_path(recipe.category.slug) = recipe.category.name
      - if recipe.kitchen.present?
        .kitchen.button href=kitchen_path(recipe.kitchen.slug) = recipe.kitchen.formatted_name
