#dashboard
  .panel
    h3.title_d = I18n.t('model_names.categories')
    = render(partial: 'categories/partials/categories', locals: { categories: @categories })
    = link_to(I18n.t('button.show_all'), categories_path, class: 'button show_all_btn')
  .panel
    h3.title_d = I18n.t('model_names.kitchens')
    = render(partial: 'kitchens/partials/kitchens', locals: { kitchens: @kitchens })
    = link_to(I18n.t('button.show_all'), kitchens_path, class: 'button show_all_btn')
  .panel
    h3.title_d = I18n.t('model_names.recipes')
    = render(partial: 'recipes/partials/recipes', locals: { recipes: @recipes })
    = link_to(I18n.t('button.show_all'), categories_path, class: 'button show_all_btn')

