#recipe_show.row
  .left.col-md-5.col-lg-4
    .panel = image_tag(@recipe.cover.big.url)
    .panel = render(partial: 'recipes/partials/ingredients', locals: { ingredients: @recipe.ingredients })
    .panel = render(partial: 'categories/partials/category', locals: { category: @recipe.category })
    - if @recipe.kitchen.present?
      .panel = render(partial: 'kitchens/partials/kitchen', locals: { kitchen: @recipe.kitchen })
  .right.col-md-7.col-lg-8
    h2.title = @recipe.name
    = @recipe.body.html_safe
