/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ./application
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';
@import 'application/colors';
@import 'application/fonts';

body {
  margin: 0;
  padding: 0;
  min-width: 760px;

  #content {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  a, p, span {
    font-family: $base-text-font;
    color: black;
  }

  .fixed {
    display: fixed;
    width: 100%;
    top: 0;
  }

  .button {
    display: block;
    margin-right: 20px;
    border: 2px solid $button-color;
    padding: 2px 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: $button-color;
    }
  }
}
