- kitchen = kitchen.decorate if kitchen.class != KitchenDecorator

= render(partial: 'partials/little_card', locals: { title: kitchen.formatted_name, klass: 'kitchen', image_url: asset_url(kitchen.cover.card.url), href: kitchen_path(kitchen.slug) })
