#breadcrumbs_container
  #breadcrumbs
    - breadcrumbs.each_with_index do |breadcrumb, index|
      a href=breadcrumb.url = breadcrumb.text
      - if index != breadcrumbs.count - 1
        span = '/'
