#header
  a#logo href=root_path
    img src='/logo.png'
  nav
    = link_to('Главная', root_path, class: "#{'active' if active_menu_item == MenuItems::DASHBOARD}")
    = link_to('Рецепты', categories_path, class: "#{'active' if active_menu_item == MenuItems::RECIPES}")
    = link_to('Кухни', kitchens_path, class: "#{'active' if active_menu_item == MenuItems::KITCHENS}")
#header_space
