#breadcrumbs_container {
  position: relative;
  height: 40px;
  padding: 4px;
  padding-left: 50px;
  padding-right: 50px;

  #breadcrumbs {
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-style: italic;

    a {
      color: black;
      text-decoration: none;
    }

    span {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
