$header-color: steelblue;
$header-text-color: lightblue;
$recipe-card-color: ghostwhite;
$little-card-color: $recipe-card-color;
$button-color: steelblue;
$kitchen-color: darkseagreen;
$category-color: skyblue;
$ingredients-table-border-color: deepskyblue;
$ingredients-background-color: azure;
