#dashboard {
  .panel {
    margin-bottom: 20px;

    .title_d {
      margin-bottom: 20px;
      text-align: center;
    }

    .show_all_btn {
      width: 125px;
      text-align: center;
      margin: 0 auto;
    }
  }
}
