@import 'fonts';
@import 'colors';

#header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding: 4px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: $header-color;

  #logo {
    display: block;
    float: left;
    height: 100%;
    width: 200px;

    img {
      position: absolute;
      height: 60px;
      top: 50%;
      margin: 0;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  nav {
    position: absolute;
    top: 50%;
    margin: 0;
    right: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    a {
      margin-right: 10px;
      padding: 10px;
      font-family: $header-text-font;
      font-size: 15pt;
      text-decoration: none;
      color: $header-text-color;

      &.active, &:hover {
        border-bottom: 1px solid $header-text-color;
      }
    }
  }
}

#header_space {
  margin-top: 80px;
}
