@import 'colors';

.little_card {
  display: block;
  background-color: $little-card-color;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.75);

  &.category {
    background-color: $category-color;
  }

  &.kitchen {
    background-color: $kitchen-color;
  }

  &:hover {
    text-decoration: none;
    -webkit-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
  }

  .title {
    margin: 8px;
    margin-top: 0;
    padding: 8px;
    font-size: 14pt;
    height: 65px;
    text-align: center;
    overflow: hidden;
    color: black;
  }

  .image {
    width: 250px;
    height: 177px;
    background-size: cover;
    background-position: center;
  }
}
