#pagination_container {
  .pagination {
    display: table;
    margin: 0 auto;
    
    span {
      padding: 5px;
      margin: 2px;
      font-size: 13pt;

      a {
        text-decoration: none;

        &.current {
          font-weight: bold;
        }        
      }
    }  
  }
}
