@import 'colors';

.recipe_card {
  display: block;
  background-color: $recipe-card-color;
  width: 550px;
  height: 158px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 20px -10px rgba(0,0,0,0.75);

  &:hover {
    -webkit-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
  }

  .left {
    float: left;
    width: 200px;
    height: 158px;

    .triangle {
      position: absolute;
      margin-left: 150px;
      width: 0;
      height: 0;
      border-top: 158px solid transparent;
      border-right: 50px solid $recipe-card-color; 
    }

    .image {
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }

  .right {
    float: left;
    width: 350px;

    .title {
      margin: 8px;
      font-size: 14pt;
      height: 90px;
      text-align: justify;
      overflow: hidden;
    }

    .tags {
      div {
        margin-right: 20px;
      }

      .category {
        float: right;
        border-color: $category-color;

        &:hover {
          background-color: $category-color;
        }
      }

      .kitchen {
        float: right;
        border-color: $kitchen-color;

        &:hover {
          background-color: $kitchen-color;
        }
      }
    }
  }
}

#recipe_show {
  .left {
    .panel {
      margin-bottom: 20px;

      img, .image, a {
        display: block;
        margin: 0 auto;
      }

      img {
        max-width: 100%;
      }

      .ingredients {
        h3 {
          text-align: center;
        }
  
        table {
          margin: 0 auto;
          text-align: center;
          width: 80%;
          border: 2px solid $ingredients-table-border-color;
          background-color: $ingredients-background-color;
          border-radius: 10px;
          border-collapse: inherit;

          tr {
            th {
              padding: 10px
            }
          }
        }
      }
    }
  }

  .right {
    .title {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
