doctype html
html
  head
    title
      | Легендарная кухня
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'icon.png'
    = render(partial: 'layouts/partials/fonts')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render(partial: 'layouts/partials/header', locals: { active_menu_item: @active_menu_item })
    - if @breadcrumbs.present?
      = render(partial: 'layouts/partials/breadcrumbs', locals: { breadcrumbs: @breadcrumbs })
    #content
      = yield
